$secondary-label-color: #7e7c82;
$purple: #c6a3ff;
$separator-color: #c2c2c2;
$secondary-background-color: #f5f4f7;

$xs-width: 30;
$sm-width: 51;
$max-width: 64;

$xs-container: #{$xs-width}rem;
$sm-container: #{$sm-width}rem;
$max-container: #{$max-width}rem;
