@import '../../styles/fonts';
@import '../../styles/responsive';
@import '../../styles/variables';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

a,
a:visited {
  color: $purple;
}
