@import '../styles/variables';
@import '../styles/responsive';

.main {
  flex: 1;
}

a,
a:visited {
  color: $purple;
}

.index {
  padding: 0px 16px 32px 16px;

  .app-store {
    img {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      width: 125px;
      height: 41.5px;
    }
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
  }

  .section {
    width: 100%;
  }

  .title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;
    overflow: hidden;

    .ios-download {
      width: 135px;
      height: 40px;
    }

    h1 {
      margin-bottom: 8px;
      font-size: 42px;
      line-height: 120%;
      text-align: center;
    }

    p {
      color: $secondary-label-color;
      margin-bottom: 32px;
      text-align: center;
    }

    img.dots {
      pointer-events: none;
      display: none;
    }
  }

  .device-section {
    display: flex;
    flex: 1;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
    background-image: url('../assets/background.svg');
  }

  @media only screen and (max-width: 420px) {
    .title-section {
      h1 {
        font-size: 28px;
      }
    }
  }

  @media only screen and (min-width: $sm-container) {
    padding: 0px 32px 32px 32px;

    .section {
      width: auto;
    }

    .title-section {
      padding: 100px 0px;
      align-items: flex-start;
      overflow: visible;
      h1 {
        text-align: left;
      }

      p {
        text-align: left;
      }

      img.dots {
        height: 420px;
        width: 500px;
        left: -120px;
        top: -50px;
        position: absolute;
        display: block;
      }
    }

    .container {
      overflow: visible;
      flex-direction: row;
    }
  }
}
