@import '../../styles/variables';

.navbar {
  background-color: #fff;
  border: 0.5px solid #e3e3e3;
  padding: 8px 16px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    margin: 0;
    width: 30px;
  }

  .download-button {
    background-color: $purple;
    padding: 8px 12px;
    color: #fff;
    border-radius: 6px;
    border: none;
  }

  @media only screen and (min-width: $sm-container) {
    padding: 8px 32px;
  }
}
